{% ckan_extends %}

{% block package_metadata_fields %}
<div class="form-group control-full" >
    <label class="control-label" for="field-locations"><span style="color:#c6898b"> * </span>{{ _("Location") }}</label>
    <div class="controls">
      <div class="row">
        <div class="col-md-6 form-group" >
          <select id="field-locatios" name="location" multiple>
            {% for location in h.get_allLocations() %}
  
            <option value="{{location}}" {% if data.location == location %} selected {% endif %}>{{location}}</option>
            {% endfor %}
          </select>
         {% if errors.location %} <span class="error-block"> Missing value </span> {% endif %}
        </div>
      </div>
    </div>
  </div>
{{super()}}
{% endblock %}